DB_HOST=localhost
DB_PORT=5432
DB_NAME=flashcard
SPRING_DATASOURCE_USERNAME=flashcard
SPRING_DATASOURCE_PASSWORD=flashcard-local
SPRING_DATA_REDIS_HOST=localhost
SPRING_DATA_REDIS_PORT=6379
JWT_SECRET=Zmxhc2hjYXJkLWxvY2FsLWRldmVsb3BtZW50LXNlY3JldC1yZXBsYWNlLWluLXByb2R1Y3Rpb24=
APP_COOKIE_SECURE=false
